.form {
  display: flex;
  border-top: 2px solid #D3D3D3;
}

.input {
  border: none;
  border-radius: 0;
  padding: 3%;
  width: 80%;
  font-size: 1.2em;
  color:black;
}

input:focus, textarea:focus, select:focus{
  outline: none;
}
.input:hover{
  background:#00303F;
  color:white;
}
.sendButton {
  color: white !important;
  text-transform: uppercase;
  text-decoration: none;
  background: #18181E;
  padding: 20px;
  display: inline-block;
  border: none;
  width: 20%;
  border-radius:2px olid red;
}
.sendButton:hover{
  background:#9e363a;
}